<div class="item">
            <div>Avatar URL</div>
            <div>
                <input type="url" name="avatar_url" placeholder="http://">
            </div>
        </div>

        <div class="item">
            <div>Teacher</div>
            <div>
                <input type="text" name="name" placeholder="Teacher's name">
            </div>
        </div>

        <div class="item">
            <div>Education level</div>
            <div>
                <input type="text" name="name" placeholder="Highschool, Bachelor, Master-degree ...">
            </div>
        </div>

        <div class="item">
            <div>Type of class</div>
            <div>
                <span><input type="radio" name="gender" value="O" checked>Online</span>
                <span><input type="radio" name="gender" value="P">Personal</span>

            </div>
        </div>

        <div class="item">
            <div>Subjects</div>
            <div>
                <input type="text" name="services" placeholder="Separate subjects with a comma">
            </div>
        </div>

        <button type="submit">Salvar</button>