{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section
    class="avatar" 
    style="background: url(https://source.unsplash.com/collection/517198/500x500) no-repeat center center / cover"></section>
    <section class="details">
        <h3>Details</h3>
        <div class="item">
            <div>Teacher</div>
            <div>Guilherme Saraiva</div>
        </div>

        <div class="item">
            <div>Education level</div>
            <div>Master degree</div>
        </div>

        <div class="item">
            <div>Type of class</div>
            <div>Online</div>
        </div>

        <div class="item">
            <div>Subjects</div>
            <div>
                <span>Geography</span>
                <span>English</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>01/01/2019</div>
        </div>
    </section>
</div>
{% endblock content %}

